<header>
    <nav class="navbar navbar-expand-lg">
        <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="" width="100" height="100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}"><b>Users</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}"><b>Categories</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/brands}"><b>Brands</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}"><b>Products</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customers}"><b>Customers</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shipping}"><b>Shipping</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}"><b>Orders</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/report}"><b>Sales Report</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/articles}"><b>Articles</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menus}"><b>Menus</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}"><b>Settings</b></a>
                </li>
            </ul>
        </div>
    </nav>
</header>